/*********************
 * NEMO File manager *
 *********************/
/* for breadcrumbs path bar */

.nemo-pathbar-button,
NemoPathbarButton {
	background-image: -gtk-gradient(linear, left top, left bottom,
		color-stop (0, shade(alpha(@theme_bg_color, 0.8), 1.1)),
		color-stop (.3, shade(alpha(@theme_bg_color, 0.8), 1.1)),
		color-stop (.7, shade(alpha(@theme_bg_color, 0.8), 0.98)),
		color-stop (1, shade(alpha(@theme_bg_color, 0.8), 0.90)));
	border-color: #979797;
	color: @theme_fg_color;
	-NemoPathbarButton-border-radius: 3px;
}

NemoPathbarButton:active {
	background-image: -gtk-gradient(linear, left top, left bottom,
		color-stop (0, shade(alpha(@theme_bg_color, 0.8), .8)),
		color-stop (.3, shade(alpha(@theme_bg_color, 0.8), .9)),
		color-stop (1, shade(alpha(@theme_bg_color, 0.8), 1.0)));
}

NemoPathbarButton:hover {
	background-image: -gtk-gradient(linear, left top, left bottom,
		color-stop (0, shade(alpha(@theme_selected_bg_color, 0.8), 1.25)),
		color-stop (.3, shade(alpha(@theme_selected_bg_color, 0.8), 1.25)),
		color-stop (.7, shade(alpha(@theme_selected_bg_color, 0.8), 0.95)),
		color-stop (1, shade(alpha(@theme_selected_bg_color, 0.8), 0.85)));
}

NemoPathbarButton:active:hover {
	background-image: -gtk-gradient(linear, left top, left bottom,
		color-stop (0, shade(alpha(@theme_selected_bg_color, 0.8), .80)),
		color-stop (.3, shade(alpha(@theme_selected_bg_color, 0.8), .95)),
		color-stop (1, shade(alpha(@theme_selected_bg_color, 0.8), 1.25)));
}


/* For Places Sidebar diskfull indicators */

NemoPlacesTreeView {
	-NemoPlacesTreeView-disk-full-bg-color: shade(@theme_bg_color, .65);
	-NemoPlacesTreeView-disk-full-fg-color: shade(@theme_selected_bg_color, 1.0);
	-NemoPlacesTreeView-disk-full-bar-width: 2px;
	-NemoPlacesTreeView-disk-full-bar-radius: 1px;
	-NemoPlacesTreeView-disk-full-bottom-padding: 1px;
	-NemoPlacesTreeView-disk-full-max-length: 70px;
}

NemoPlacesTreeView:selected {
	-NemoPlacesTreeView-disk-full-bg-color: shade(@theme_bg_color, 2.0);
	-NemoPlacesTreeView-disk-full-fg-color: shade(@theme_fg_color, 2.0);
}

NemoPlacesTreeView:hover {
}

NemoPlacesTreeView:selected:hover {
}
@define-color cluebar_color shade (@theme_base_color, 0.9);

NemoWindow * {
	-GtkPaned-handle-size: 0;
}

NemoWindow .view {
	background-color: @theme_base_color;
}

NemoWindow .rubberband,
NemoWindow .view.rubberband {
	background-color: alpha (@theme_selected_bg_color, 0.35);
}

/* sidebar */

NemoWindow .sidebar .view {
	background-color: shade (@theme_bg_color, 1.08);
	color: @theme_fg_color;
}

NemoWindow .sidebar .frame {
	border-right-width: 1px;
	border-style: solid;
	border-color: shade (@theme_bg_color, 0.90);
	border-left: none;
	border-top: none;
	border-bottom: none;
}

NemoWindow .sidebar row:selected {
	color: @theme_selected_fg_color;
}

NemoWindow .sidebar row:backdrop:selected {
	color: @theme_fg_color;
	text-shadow: none; 
}

NemoWindow .sidebar row:hover {
	background-color: shade (@theme_bg_color, 0.97);
}

/* desktop mode */
.nemo-desktop.nemo-canvas-item {
	color: @theme_bg_color;
	text-shadow: 1px 1px alpha (#000000, 0.8);
}

.nemo-desktop.nemo-canvas-item:active {
	background-image: none;
	background-color: alpha (@theme_bg_color, 0.84);
	color: @theme_fg_color;
}

.nemo-desktop.nemo-canvas-item:selected {
	background-image: none;
	background-color: alpha (@theme_selected_bg_color, 0.84);
	color: @theme_selected_fg_color;
}

.nemo-desktop.nemo-canvas-item:active,
.nemo-desktop.nemo-canvas-item:prelight,
.nemo-desktop.nemo-canvas-item:selected {
	text-shadow: none;
}

/* inactive pane */

.nemo-inactive-pane .view {
	background-color: shade(@theme_base_color, 0.9);
}

/* Toolbar */
NemoWindow .toolbar .button {
	border-image: none;
}

/* Misc */
NemoView.frame,
NemoNotebook.notebook {
	border-right-width: 0;
	border-left-width: 0;
	border-bottom-width: 0;
}

NemoNotebook.notebook tab.top,
NemoNotebook.notebook tab.bottom {
	border-right-width: 1px;
	border-left-width: 1px;
}

NemoNotebook .frame {
	border-width: 1px 0 0 0;
}

.nemo-cluebar-label {
	font: normal;
	text-shadow: 0 1px shade (@cluebar_color, 1.06);
}

NemoTrashBar.info,
NemoXContentBar.info,
NemoSearchBar.info,
NemoQueryEditor.info {
	background-color: @cluebar_color;
	border-bottom-color: shade (@cluebar_color, 0.92);
	border-radius: 0;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	color: @theme_fg_color;
}

NemoTrashBar .button,
NemoXContentBar .button,
NemoSearchBar .button,
NemoQueryEditor .button {
	border-radius: 0;
}

/*********************
 * Cinnamon Settings *
 *********************/

.section-bg {
    background-color: @notebook_bg;
    box-shadow: inset 0 3px white,
                inset -2px 0 @border,
                inset 0 -2px @border,
                inset 0 2px shade(@border, 1.15),
                inset 2px 0 @border,
                inset -1px 0 shade(@theme_bg_color, 0.93),
                inset 1px 0 shade(@theme_bg_color, 0.93),
                inset 0 1px @theme_bg_color,
                inset 0 -1px shade(@theme_bg_color, 0.85);
}

.cs-header {
    background-color: transparent;
    background-image: linear-gradient(to bottom,
                            @toolbar_bg_a,
                            @toolbar_bg_b);
}

/****************
 * PopOver menu *
 ****************/
GraniteWidgetsPopOver {
	-GraniteWidgetsPopOver-arrow-width: 24;
	-GraniteWidgetsPopOver-arrow-height: 12;
	-GraniteWidgetsPopOver-border-radius: 6;
	-GraniteWidgetsPopOver-border-width: 1;
	-GraniteWidgetsPopOver-shadow-size: 18;
	
	border-style: solid;
	border-color: shade (@theme_bg_color, 0.50);
	background-color: @theme_bg_color;
	margin: 0;
}

GraniteWidgetsPopOver * {
	background-color: @theme_bg_color;
}

GraniteWidgetsPopOver .sidebar.view {
	background-color: @theme_bg_color;
}

GraniteWidgetsPopOver .button {
	background-image: none;
	background-color: alpha (#fff, 0.0);
}

GraniteWidgetsPopOver .button:active,
GraniteWidgetsPopOver .button:hover:active {
	background-image: none;
	background-color: alpha (#000, 0.05);
}

GraniteWidgetsPopOver .entry {
	background-image: linear-gradient(to bottom,
		shade (@theme_base_color, 0.88),
		shade (@theme_base_color, 0.94) 20px,
		shade (@theme_base_color, 0.96));
}

.button.app {
	border-width: 0;
	border-radius: 5px;
}

.app:hover,
.app:focus {
	background-color: alpha (#000, 0.15);
}

/*****************
 * Ubuntu styles *
 *****************/
/* overlay scrollbar */
OsThumb {
	color: shade (@theme_fg_color, 1.6);
}

OsThumb:selected,
OsScrollbar:selected {
	background-color: @theme_selected_bg_color;
}

OsThumb:active,
OsScrollbar:active {
	background-color: shade (@theme_bg_color, 0.6);
}

OsThumb:insensitive,
OsScrollbar:insensitive {
	background-color: shade (@theme_bg_color, 0.85);
}

/* scrolled window */
.ubuntu-online-accounts.frame {
	border-style: solid;
	border-color: @borders;
	border-width: 1px;
	border-radius: 2px;
	padding: 0;
}

.ubuntu-online-accounts.frame {
	border-top-width: 0;
}

/****************
 * Mate-Panel   *
 ****************/

/* the panel bar itself */
.mate-panel-menu-bar,
MatePanelApplet > GtkMenuBar.menubar,
PanelToplevel,
PanelWidget,
PanelAppletFrame,
MatePanelApplet {
	background-color: @os_chrome_bg_color;
	background-image: none;
	color: @os_chrome_fg_color;
	text-shadow: none;
}

MatePanelApplet {
	border-width: 0;
}

PanelSeparator {
	border-width: 0;
	background-image: none;
	background-color: transparent;
	color: transparent;
	text-shadow: none;
}

/* set selected menubar button */
PanelMenuBar.menubar .menuitem:hover {
	background-image: linear-gradient(to bottom,
		alpha (@theme_base_color, 0.1),
		alpha (@theme_base_color, 0.1));
	background-color: @theme_base_color;
	color: @theme_fg_color;
}

/* set normal menubar menuitem */
PanelMenuBar.menubar .menu .menuitem {
	font: regular;
	text-shadow: none;
    padding: 6px;
}

/* set selected menubar menuitem */
PanelMenuBar.menubar .menu .menuitem:checked:hover,
PanelMenuBar.menubar .menu .menuitem:hover {
    background-image: linear-gradient(to bottom,
                                      shade (@theme_selected_bg_color, 1.0),
                                      shade (@theme_selected_bg_color, 0.85));
    color: shade (@theme_selected_fg_color, 1.00);
    text-shadow: none;
    border-style: none;
    border-width: 0px;
    border-radius: 0px;
}

/* prelight of WnckPager */
WnckPager:hover {
	background-image: linear-gradient(to bottom,
		alpha (@theme_base_color, 0.1),
		alpha (@theme_base_color, 0.1));
	background-color: @theme_base_color;
}

/* desktop-applet, clockapplet, drivemount, character-map,
dictionary */
MatePanelApplet .button {
	background-image: none;
	background-color: @os_chrome_bg_color;
	color: @os_chrome_fg_color;
	border-image: none;
	border-style: solid;
	border-width: 0px;
	border-radius: 0px;
	text-shadow: none;
	-GtkWidget-window-dragging: true;
}

MatePanelApplet .button:checked,
MatePanelApplet .button:checked:hover {
	background-image: linear-gradient(to bottom,
		@theme_selected_bg_color,
		@theme_selected_bg_color);
	background-color: @theme_base_color;
	color: @theme_selected_fg_color;
	border-image: none;
	border-style: solid;
	border-width: 0px;
	border-radius: 0px;
	text-shadow: none;
	-GtkWidget-window-dragging: true;
}

MatePanelApplet .button:hover {
	background-image: linear-gradient(to bottom,
		alpha (@theme_base_color, 0.1),
		alpha (@theme_base_color, 0.1));
	background-color: @theme_base_color;
	color: @theme_fg_color;
	border-image: none;
	border-style: solid;
	border-width: 0px;
	text-shadow: none;
	-GtkWidget-window-dragging: true;
}

ClockBox,
.mate-panel-menu-bar.menubar,
PanelApplet > GtkMenuBar.menubar {
	font: normal;
}

/* no background for icon-padding area */
GtkTrayIcon.background {
    background-color: transparent;
}

NaTrayApplet {
	-NaTrayApplet-icon-padding: 3;
	-NaTrayApplet-icon-size: 16;
}

/*********************
 * CAJA File manager *
 *********************/

/* do not flash the desktop with a color during theme switching */
CajaDesktopWindow FMDesktopIconView .view {
    background-color: transparent;
    background-image: none;
}

/* for breadcrumbs path bar */

.caja-pathbar-button,
CajaPathbarButton {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                    color-stop (0, shade(alpha(@theme_bg_color, 0.8), 1.1)),
                                    color-stop (.3, shade(alpha(@theme_bg_color, 0.8), 1.1)),
                                    color-stop (.7, shade(alpha(@theme_bg_color, 0.8), 0.98)),
                                    color-stop (1, shade(alpha(@theme_bg_color, 0.8), 0.90)));
    border-color: #979797;
    color: @theme_fg_color;
    -CajaPathbarButton-border-radius: 3px;
}

CajaPathbarButton:active {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                    color-stop (0, shade(alpha(@theme_bg_color, 0.8), .8)),
                                    color-stop (.3, shade(alpha(@theme_bg_color, 0.8), .9)),
                                    color-stop (1, shade(alpha(@theme_bg_color, 0.8), 1.0)));
}

CajaPathbarButton:hover {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                    color-stop (0, shade(alpha(@theme_selected_bg_color, 0.8), 1.25)),
                                    color-stop (.3, shade(alpha(@theme_selected_bg_color, 0.8), 1.25)),
                                    color-stop (.7, shade(alpha(@theme_selected_bg_color, 0.8), 0.95)),
                                    color-stop (1, shade(alpha(@theme_selected_bg_color, 0.8), 0.85)));
}

CajaPathbarButton:active:hover {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                    color-stop (0, shade(alpha(@theme_selected_bg_color, 0.8), .80)),
                                    color-stop (.3, shade(alpha(@theme_selected_bg_color, 0.8), .95)),
                                    color-stop (1, shade(alpha(@theme_selected_bg_color, 0.8), 1.25)));
}

/* Caja places combobox */
CajaWindow .button.flat {
    background-color: transparent;
    background-image: linear-gradient(to bottom,
                                      @button_gradient_color_a,
                                      @button_gradient_color_b);
}

CajaWindow .button.flat:first-child {
    border-radius: 6px 0 0 6px;
    border-right-width: 0;
/* remove left border */
    border-image: url("borders/button.png") 3 3 4 3 / 3px 0px 4px 3px stretch;
}

CajaWindow .button.flat:last-child {
    border-radius: 0 6px 6px 0;
    border-left-width: 0;
/* remove right border */
    border-image: url("borders/button.png") 3 3 4 3 / 3px 3px 4px 0px stretch;
}

CajaWindow .button.flat:hover {
    background-color: transparent;
    background-image: linear-gradient(to bottom,
                                      @button_hover_gradient_color_a,
                                      @button_hover_gradient_color_b);
}

CajaWindow .button.flat:hover:first-child {
    border-radius: 6px 0 0 6px;
    border-right-width: 0;
    background-color: transparent;
    background-image: linear-gradient(to bottom,
                                      @button_hover_gradient_color_a,
                                      @button_hover_gradient_color_b);
    border-image: url("borders/button.png") 3 3 4 3 / 3px 0px 4px 3px stretch;
}

CajaWindow .button.flat:hover:last-child  {
    border-radius: 0 6px 6px 0;
    border-left-width: 0;
    background-color: transparent;
    background-image: linear-gradient(to bottom,
                                      @button_hover_gradient_color_a,
                                      @button_hover_gradient_color_b);
    border-image: url("borders/button.png") 3 3 4 3 / 3px 3px 4px 0px stretch;
}

/* some overrides for button.flat */
/* zoom button */
CajaWindow .primary-toolbar .button.flat,
CajaWindow .primary-toolbar .button.flat:first-child,
CajaWindow .primary-toolbar .button.flat:last-child {
    border-width: 3px;
    background-color: transparent;
    background-image: linear-gradient(to bottom,
                                      shade (@theme_bg_color, 1.0),
                                      shade (@theme_bg_color, 0.96));
    border-image: none;
}

/* zoom button */
CajaWindow .primary-toolbar .button.flat:hover {
    border-width: 3px;
    background-color: transparent;
    background-image: linear-gradient(to bottom,
                                      @button_gradient_color_a,
                                      @button_gradient_color_b);
    border-image: url("borders/button.png") 3 3 4 3 / 3px 3px 4px 3px stretch;
}

/* ComboBox views */
CajaWindow .toolbar GtkComboBox .button {
    background-image: linear-gradient(to bottom,
                                      shade (@theme_bg_color, 1.0),
                                      shade (@theme_bg_color, 0.96));
    padding: 4px 4px;
}

CajaWindow .toolbar GtkComboBox .button:hover {
    background-image: linear-gradient(to bottom,
                                      @button_gradient_color_a,
                                      @button_gradient_color_b);
    border-image: url("borders/button.png") 3 3 4 3 / 3px 3px 4px 3px stretch;
    padding: 4px 4px;
}

/* to avoid padding when executing toogle button */
CajaLocationBar .entry {
    padding: 4px;
}

/* the small line between sidebar and view */
CajaWindow GtkPaned.horizontal {
    -GtkPaned-handle-size: 3px;
    border-color: transparent;
    background-color: @theme_bg_color;
}

/* caja sidebar */
CajaWindow FMTreeView .view,
CajaWindow CajaNotesViewer .view,
CajaWindow CajaPlacesSidebar .view,
CajaWindow CajaHistorySidebar .view,
CajaWindow CajaInformationPanel GtkVBox,
CajaWindow CajaEmblemSidebar GtkViewport {
    background-color: shade (@theme_bg_color, 1.08);
    color: @theme_fg_color;
}

CajaWindow CajaPlacesSidebar .view row:active:hover,
CajaWindow CajaPlacesSidebar .view row:checked:hover,
CajaWindow CajaPlacesSidebar .view row:selected:hover,
CajaWindow CajaHistorySidebar .view row:active:hover,
CajaWindow CajaHistorySidebar .view row:checked:hover,
CajaWindow CajaHistorySidebar .view row:selected:hover,
CajaWindow FMTreeView .view row:active:hover,
CajaWindow FMTreeView .view row:checked:hover,
CajaWindow FMTreeView .view row:selected:hover {
    color: shade (@theme_selected_fg_color, 1.00);
}

CajaWindow CajaPlacesSidebar .view row:hover,
CajaWindow FMTreeView .view row:hover,
CajaWindow CajaHistorySidebar .view row:hover {
	background-color: shade (@theme_bg_color, 0.95);
    color: shade (@theme_selected_bg_color, 0.35);
}

CajaWindow .rubberband,
CajaWindow .view.rubberband {
    background-color: alpha (@theme_selected_bg_color, 0.35);
}

CajaWindow CajaPlacesSidebar .frame {
    border-right-width: 1px;
    border-style: solid;
    border-color: shade (@theme_bg_color, 0.90);
    border-left: none;
    border-top: none;
    border-bottom: none;
}

/* moved eject button to left better for overlay scrollbars */
CajaWindow CajaPlacesSidebar .view row {
    padding: 0px 4px 0px 0px;
}

CajaWindow CajaPlacesSidebar row:selected {
    color: @theme_selected_fg_color;
}

CajaWindow CajaPlacesSidebar row:backdrop:selected {
    color: @theme_fg_color;
    text-shadow: none;
}

CajaWindow CajaPlacesSidebar row:hover {
    background-color: shade (@theme_bg_color, 0.97);
}

/* better for overlay scrollbars */
CajaWindow FMTreeView .vertical.scrollbar.overlay-indicator,
CajaWindow CajaNotesViewer .vertical.scrollbar.overlay-indicator,
CajaWindow CajaPlacesSidebar .vertical.scrollbar.overlay-indicator,
CajaWindow CajaEmblemSidebar .vertical.scrollbar.overlay-indicator,
CajaWindow CajaHistorySidebar .vertical.scrollbar.overlay-indicator {
	-GtkRange-slider-width: 11;
}

/* desktop mode */
.caja-desktop.caja-canvas-item {
    color: @theme_bg_color;
    text-shadow: 1px 1px alpha (#000000, 0.8);
}

.caja-desktop.caja-canvas-item:active {
    background-image: none;
    background-color: alpha (@theme_bg_color, 0.84);
    color: @theme_fg_color;
}

.caja-desktop.caja-canvas-item:selected {
    background-image: none;
    background-color: alpha (@theme_selected_bg_color, 0.84);
    color: @theme_selected_fg_color;
}

.caja-desktop.caja-canvas-item:active,
.caja-desktop.caja-canvas-item:prelight,
.caja-desktop.caja-canvas-item:selected {
    text-shadow: none;
}

/* inactive pane */

.caja-inactive-pane .view {
    background-color: shade(@theme_base_color, 0.9);
}

/* Toolbar */
CajaWindow .toolbar .button {
    border-image: none;
}

/* Misc */
CajaView.frame,
CajaNotebook.notebook {
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
}

CajaNotebook.notebook tab.top,
CajaNotebook.notebook tab.bottom {
    border-right-width: 1px;
    border-left-width: 1px;
}

CajaNotebook .frame {
    border-width: 1px 0 0 0;
}

/* close button styling */
/* surpress styling of close button */
CajaWindow .notebook tab .button.flat,
CajaWindow .notebook tab .button.flat:hover {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    text-shadow: none;
    icon-shadow: none;
    border-image: none;
}

CajaWindow .notebook tab.top {
    padding: 6px 3px 6px 0px;
}

.caja-cluebar-label {
    font: normal;
    text-shadow: 0 1px shade (@cluebar_color, 1.06);
}

CajaSearchBar .horizontal .entry {
    padding: 4px;
}

CajaTrashBar.info,
CajaXContentBar.info,
CajaSearchBar.info,
CajaQueryEditor.info {
    background-color: @cluebar_color;
    border-bottom-color: shade (@cluebar_color, 0.92);
    border-radius: 0;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    color: @theme_fg_color;
}

CajaTrashBar .button,
CajaXContentBar .button,
CajaSearchBar .button,
CajaQueryEditor .button {
    border-radius: 0;
}

/* gedit */
.gedit-headerbar-paned:backdrop {
	background-image: url("assets/null.png");
}

.gedit-search-slider * {
	color: @theme_fg_color;
}

.gedit-document-panel {
	background-color: @theme_bg_color;
}

/* Nautilus desktop */
.nautilus-canvas-item {
	border-radius: 5px;
}

.nautilus-desktop.nautilus-canvas-item {
	color: @theme_selected_fg_color;
	text-shadow: 1px 1px black;
}

.nautilus-desktop.nautilus-canvas-item:active {
	color: @theme_text_color;
}

.nautilus-desktop.nautilus-canvas-item:selected {
	color: @theme_selected_fg_color;
}

.nautilus-desktop.nautilus-canvas-item:active,
.nautilus-desktop.nautilus-canvas-item:prelight,
.nautilus-desktop.nautilus-canvas-item:selected {
	text-shadow: none;
}

.nautilus-desktop.nautilus-canvas-item:selected:backdrop {
	color: @theme_unfocused_selected_fg_color;
}

